@CHARSET "ISO-8859-1";
/* Large desktop */
@media ( min-width : 1200px) {
	.middle1 {
		width: 780px !importaNT;
	}
}

/* Portrait tablet to landscape and desktop */
@media ( min-width : 768px) and (max-width: 979px) {
	body {
		padding: 0px !important;
		margin: 0px !important;
		overflow-y: scroll;
		height: 600px;
	}
	header {
		position: absolute;
		top: 0px;
		width: 100%;
	}
	.logo {
		margin: 0 400px 0px !important;
		width: 190px !important;
	}
	.dropmenu {
		margin: 10px 250px 0px !important;
		width: 60% !important;
	}
	.dropmenu select {
		display: block;
		clear: both;
		padding-left: 10px;
		font-weight: bold;
		width: 100%;
		height: 40px;
		-webkit-appearance: none;
		background-position: center right;
		background-repeat: no-repeat;
		background-color: rgba(255, 255, 255, 0.7);
		border: 1px solid #E0E0E0;
		border-radius: 3px;
		text-transform: uppercase;
		color: black;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.nav-collapse {
		height: auto !important;
	}
	.vission {
		margin-top: 53px;
		margin-left: 106px;
		display: inline-block;
		margin-bottom: 50px;
	}
	.textright {
		margin: 15px !important;
	}
	.slide1 {
		height: 1200px;
		overflow-y: hidden;
	}
	.im {
		position: static;
		margin: 0 auto;
		width: 310px;
	}
	.tab-menu {
		position: absolute;
		top: 200px;
	}
	.tab-menu  span {
		background: white;
		padding: 10px 50px;
		font-weight: bold;
		cursor: pointer;
	}
	.tab-menu span:hover {
		background: red;
		color: white;
	}
	.tab-menu span.active {
		background: red;
		color: white;
	}
	.middle1 {
		background: none !important;
		position: relative !important;
	}
	#upcoming {
		top: -29%;
		right: 12% !important;
		opacity: 0;
	}
}

/* Landscape phone to portrait tablet */
@media ( max-width : 767px) {
	body {
		padding: 0px !important;
		margin: 0px !important;
	}
	header {
		position: absolute;
		top: 0px;
		width: 100%;
	}
	.logo {
		margin: 0 auto !important;
		width: 190px !important;
	}
	.dropmenu {
		margin: 10px auto !important;
		width: 220px !important;
	}
	.dropmenu select {
		display: block;
		clear: both;
		padding-left: 10px;
		font-weight: bold;
		width: 100%;
		height: 40px;
		-webkit-appearance: none;
		background-position: center right;
		background-repeat: no-repeat;
		background-color: rgba(255, 255, 255, 0.7);
		border: 1px solid #E0E0E0;
		border-radius: 3px;
		text-transform: uppercase;
		color: black;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.nav-collapse {
		height: auto !important;
	}
	.middle1 {
		background: none !important;
		position: relative !important;
		width: 780px !importaNT;
	}
	.middle {
		opacity: 0;
	}
	.tab-menu {
		position: absolute;
		top: 200px;
	}
	.tab-menu  span {
		background: white;
		padding: 10px 50px;
		font-weight: bold;
		cursor: pointer;
	}
	.tab-menu span:hover {
		background: red;
		color: white;
	}
	.tab-menu span.active {
		background: red;
		color: white;
	}
}

/* Landscape phones and down */
@media ( max-width : 480px) {
	.im {
		position: static;
		width: 100%;
	}
	.middle1 {
		background: none !important;
		position: relative !important;
	}
	#ongoing {
		width: 100% !important;
		top: 30%;
		z-index: 115;
		position: absolute !important;
	}
	#upcoming {
		
		top: 154px;
		z-index: 114;
		right: -100% !important;
		opacity: 0;
		position: absolute !important;
	}
	.textleft {
		margin-left: 50px;
	}
	.tab-menu {
		position: absolute;
		top: 155px;
		right: 12%;
		width: 216px;
		margin: 0 auto;
		left: 10%;
		z-index: 120;
	}
	.tab-menu  span {
		background: white;
		padding: 10px 0px;
		font-weight: bold;
		cursor: pointer;
		display: inline-block;
		width: 100px;
		text-align: center;
	}
	.tab-menu span:hover {
		background: red;
		color: white;
	}
	.tab-menu span.active {
		background: red;
		color: white;
	}
}