@CHARSET "ISO-8859-1";
/* Large desktop */
@media ( min-width : 1200px) {
	.middle1 {
		width: 780px !important;
	}
	.ong {
		left: 127px !important;
	}
	.upc {
		left: 127px !important;
	}
	.building1 {
		background: white;
		position: absolute;
		top: 38%;
		left: 31%;
	}
	.textright1 {
		margin: 50px 34px;
	}
	.textleft1 {
		margin: 10px 48px;
	}
}

@media ( min-width : 980px) and (max-width: 1200px) {
	.position {
		display: none !important;
	}
	.im .middle1 {
		width: 77% !important;
	}
	.ong {
		position: absolute;
		top: 15%;
		left: 383px;
	}
	.upc {
		position: absolute;
		top: 15%;
		left: 620px;
	}
	.center {
		top: 27%;
		left: 17%;
		position: absolute;
	}
	.center1 {
		top: 27%;
		left: 17%;
		position: absolute;
	}
	.textright1 {
		margin: 48px 35px;
	}
	.textright22 {
		
	}
	.textleft1 {
		margin: 15px 60px;
	}
	.building1 {
		background: white;
		position: absolute;
		top: 40%;
		left: 39%;
	}
}
/* Portrait tablet to landscape and desktop */
@media ( min-width : 768px) and (max-width: 979px) {
	body {
		padding: 0px !important;
		margin: 0px !important;
		overflow-y: hidden;
		height: auto !important;
	}
	header {
		position: absolute;
		top: 0px;
		width: 100%;
	}
	.logo {
		margin: 0 400px 0px !important;
		width: 190px !important;
	}
	.dropmenu {
		margin: 10px 250px 0px !important;
		width: 60% !important;
	}
	.dropmenu select {
		display: block;
		clear: both;
		padding-left: 10px;
		font-weight: bold;
		width: 100%;
		height: 40px;
		-webkit-appearance: none;
		background-position: center right;
		background-repeat: no-repeat;
		background-color: rgba(255, 255, 255, 0.7);
		border: 1px solid #E0E0E0;
		border-radius: 3px;
		text-transform: uppercase;
		color: black;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.nav-collapse {
		height: auto !important;
	}
	.vission {
		margin-top: 53px;
		margin-left: 106px;
		display: inline-block;
		margin-bottom: 50px;
	}
	.textright {
		margin: 15px !important;
	}
	.slide1 {
		height: 1200px;
		overflow-y: hidden;
	}
	.im {
		position: static;
		margin: 0 auto;
		width: 310px;
	}
	.tab-menu {
		position: absolute;
		top: 200px;
		left: 32%;
	}
	.tab-menu  span {
		background: white;
		padding: 10px 50px;
		font-weight: bold;
		cursor: pointer;
	}
	.tab-menu span:hover {
		background: red;
		color: white;
	}
	.tab-menu span.active {
		background: red;
		color: white;
	}
	.middle1 {
		background: none !important;
		position: relative !important;
	}
	#upcoming {
		top: -29%;
		right: 12% !important;
		opacity: 0;
	}
	#welcomemmrf {
		top: 30%;
		overflow-y: hidden;
		width: 650px;
		left: 12%;
	}

 .ongoing{
   top: 23%;
left:84px;
   }



.upcoming{
   top:39%;
left: 84px;
   }
  .center{
	background:none;
	width: 97%;
height: 99%;
margin-top: 65px;
}

.center1{
background:none;
margin-top:40px;

}
.textright22 {
width: 100%;
position: absolute;
top: 8%;
left: 7%;
}

	 
.textright1 {
width: 100%;
position: absolute;
top: 8%;
left: 8%;
}
.textleft1 {
width: 100%;
height: 100%;
left: 8%;
top: 25%;
}



.enquiry label.city {

margin-left: 64px;
}

	.ongoing {
		top: 23%;
		left: 84px;
	}
	.upcoming {
		top: 39%;
		left: 84px;
	}
	.center {
		background: none;
		width: 36%; height : 100%;
		margin-top: 120px;
		height: 100%;
	}
	.center1 {
		background: none;
		margin-top: 40px;
	}
	.textright22 {
		width: 100%;
		position: absolute;
		top: 8%;
		left: 7%;
	}
	.textright1 {
		margin: 12px 0px;
	}
	.textleft1 {
		
	}

}

/* Landscape phone to portrait tablet */
@media ( max-width : 767px) {
	body {
		padding: 0px !important;
		margin: 0px !important;
		height: auto !important;
	}
	header {
		position: absolute;
		top: 0px;
		width: 100%;
	}
	.logo {
		margin: 0 auto !important;
		width: 190px !important;
	}
	.dropmenu {
		margin: 10px auto !important;
		width: 220px !important;
	}
	.dropmenu select {
		display: block;
		clear: both;
		padding-left: 10px;
		font-weight: bold;
		width: 100%;
		height: 40px;
		-webkit-appearance: none;
		background-position: center right;
		background-repeat: no-repeat;
		background-color: rgba(255, 255, 255, 0.7);
		border: 1px solid #E0E0E0;
		border-radius: 3px;
		text-transform: uppercase;
		color: black;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.nav-collapse {
		height: auto !important;
	}
	.middle1 {
		background: none !important;
		position: relative !important;
		width: 780px !importaNT;
	}
	.middle {
		background: none !important;
	}
	.tab-menu {
		position: absolute;
		top: 160px;
		height: 28px;
		width: 321px;
		left: 27%;
	}
	.tab-menu  span {
		background: white;
		padding: 10px 50px;
		font-weight: bold;
		cursor: pointer;
	}
	.tab-menu span:hover {
		background: red;
		color: white;
	}
	.tab-menu span.active {
		background: red;
		color: white;
	}
	#welcomemmrf {
		left: 5%;
		width: 500px;
		overflow-y: hidden;
	}
	.center {
		background: none;
		height: 100%;
		width: 100%;
		top: 15%;
		left: 25%;
		position: absolute;
	}
	.center1 {
		background: none;
		left: 162px;
		height: auto;
		width: auto;
		top: 60px;
	}
	.textright1 {
		width: 100%;
		position: absolute;
		margin-top: 250px;
		left: 3%;
	}
	.textleft1 {
		width: 100%;
		height: 100%;
		left: 3%;
		margin-top: 450px;
		font-size: 30px;
		position: absolute;
	}
	.textright22 {
		width: 100%;
		position: absolute;
		left: 1%;
		margin-top: 228px;
	}


.center1{
background:none;
}
.textright1 {
width: 100%;
position: absolute;
margin-top:250px;
left: 3%;
}

.textleft1 {
width: 100%;
height: 100%;
left: 3%;
margin-top:450px;
font-size: 30px;
position: absolute;

}

.textright22{
	
width: 100%;
position: absolute;
left: 1%;
margin-top: 228px;
}



.enquiry label.city {
margin-left: -252px;
margin-top: 111px;
}


}


/* Landscape phones and down */
@media ( max-width : 448px) {
	.textleft1 {
		width: 100%;
		height: 100%;
		left: 24%;
		top: 364px;
		font-size: 30px;
		position: absolute;
	}
	.textright1 {
		width: 100%;
		position: absolute;
		top: 95%;
		left: 3%;
	}
}

/* Landscape phones and down */
@media ( max-width : 510px) {
	#welcomemmrf {
		left: 9%;
		width: 86%;
		overflow-y: hidden;
	}
}

/* Landscape phones and down */
@media ( max-width : 480px) {
	.textleft1 {
		width: 100%;
		left: -22%;
		margin-top: 105px;
		font-size: 30px;
		position: absolute;
	}
	.textright1 {
		width: 100%;
		position: absolute;
		top: 95%;
		left: -25%;
	}
	.textright22 {
		position: absolute;
		top: 9%;
		left: -25%;
		width: 100%;
		height: 100%;
	}
	.im {
		position: static;
		margin: 0 auto;
		width: 310px;
	}
	.middle {
		background: none !important;
	}
	.middle1 {
		background: none !important;
		position: relative !important;
	}
	#ongoing {
		width: 100% !important;
		top: 30%;
		z-index: 115;
		position: absolute !important;
	}
	#upcoming {
		top: 154px;
		z-index: 114;
		right: -100% !important;
		opacity: 0;
		position: absolute !important;
	}
	.textleft {
		margin-left: 50px;
	}
	.middle1 {
		background: none !important;
		position: relative !important;
		width: 780px !importaNT;
	}
	.middle {
		background: none !important;
	}
	.tab-menu {
		position: absolute;
		top: 155px;
		right: 12%;
		width: 216px;
		margin: 0 auto;
		left: 10%;
		z-index: 120;
	}
	.tab-menu  span {
		background: white;
		padding: 10px 0px;
		font-weight: bold;
		cursor: pointer;
		display: inline-block;
		width: 100px;
		text-align: center;
	}
	.tab-menu span:hover {
		background: red;
		color: white;
	}
	.tab-menu span.active {
		background: red;
		color: white;
	}

	
	
	.enquiry label {
text-align: right;
width: 97px;
display: inline-block;
margin: 0px -3px;
}
	
	.enquiry textarea.enquiry_text{
margin-top: 0;
width: 185px;
height: 72px;
margin-left: 13px;
}

}
