@CHARSET "ISO-8859-1";
html{height:100%;}


body {
	font-family: Malgun Gothic;
	height:100%;
	
	
}

.slide1 {
	position: relative;
	background:url(../images/3.jpg) 0 0 no-repeat;
	width:100%;height:100%;
}

.im {
	background: url(../images/new.png) 0 0 no-repeat;
	position: absolute;top: 0px;
	height: 100%;
width: 152px;
}

.middle {
	background: url(../images/images/projectdetail.png) 0 0 no-repeat;
	position: absolute;
	left: 36%;
top: 27%;
width: 789px;
height: 550px;
}

.position {
	position: relative;
	top: 25px;
	height: 60px;
	width: 160px;
	height: 600px;
}




.navbar  .navbar-inner {
	background: none;
	border: none;
}

.logo>img {
	height: 84px;
}

.navbar .nav {
	background: rgba(250, 247, 247, 0.52);
}

.navbar .container {
	height: 84px;
}

.navbar .container li {
	margin-left: 0px !important;
}

.navbar .container li:hover {
	background-color: rgba(0, 0, 0, 0.7);
	cursor: pointer;
}

.navbar .container li a {
	color: black;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	text-align: center;
	font-weight: bold;
	margin-top: 22px !important;
	margin-bottom: 22px !important;
	border-right: 1px solid white;
}

.navbar .container li:last-child a {
	border-right: none;
}

.brand {
	float: left;
	margin: 0px;
	padding: 0px !important;
}

.collapse {
	display: inline-block;
	margin-left: 0px !important;
}

.alert h4 {
	color: white;
}

.alert-block {
	position: absolute;
	top: 60%;
	right: 10%;
	width: 480px;
	height: 152px;
	opacity: 0.8;
	opacity: 0.8;
	background-color: black;
	border: 1px solid black;
	color: white;
}

.closebutton {
	color: white;
}

#slidemenu {
	position: fixed;
	bottom: 0%;
	left: -338px;
}