@CHARSET "ISO-8859-1";

html {
	height: 100%;
}



body {
	font-family: Malgun Gothic;
	height: 100%;

overflow-x: hidden;
overflow-y: hidden;


}




.middle {
	background: url(../images/images/projectdetail.png) 0 0 no-repeat;
	position: fixed;
	right: 9%;
	top: 22%;
	width: 780px;
}

.middle1 {
	background: url(../images/images/project.png) 0 0 no-repeat;
	position: fixed;
	right: 12%;
	top: 22%;
	width: 780px;
	height: 600px;
}

.building {
	position: absolute;
	top: 2%;
	left: 2%;
	background: white;
	padding: 0px;
	margin: 0px;
	width: 324px;
	height: 200px;
}

.building1 {
	position: absolute;
	background: white;
	bottom: 30%;
	left: 52%;
	height: 202px;
	width: 320px;
}

.building img {
	width: 100%;
	height: 100%;
}

.building1 img {
	width: 100%;
}

.building2 img {
	width: 353px;
	height: 220px;
	margin: 0px;
	padding: 10px;
}

.bottom p {
	text-align: center;
	font-style: italic;
	font-family: chaparral Pro;
	font-size: 23px;
	margin: 60px;
}

.bottom {
	background: white;
	top: 1%;
	left: 51%;
	width: 317px;
	height: 172px;
	position: absolute;
	font-family: chaparral Pro;
	font-size: 30px;
}

.textright {
	background: white;
	top: 1%;
	left: 52%;
	width: 317px;
	height: 172px;
	position: absolute;
	font-family: chaparral Pro;
	font-size: 30px;
}

.textright a:hover {
	color: black;
	background-color: red;
}

.textright p {
	text-align: center;
	top: 39%;
	font-style: italic;
	position: absolute;
	left: 29%;
}

.textleft p {
	text-align: center;
	bottom: 39%;
	position: absolute;
	left: 19%;
	font-style: italic;
}

.textleft {
	background: white;
	bottom: 31%;
	left: 2%;
	width: 317px;
	height: 166px;
	position: absolute;
	font-family: chaparral Pro;
	font-size: 30px;
}

.building1 img {
	width: 100%;
}

.building2 img {
	width: 353px;
	height: 220px;
	margin: 0px;
	padding: 10px;
}

.bottom p {
	text-align: center;
	top: 39%;
	position: absolute;
	left: 24%;
}

.textright {
	background: white;
	top: 2%;
	left: 52%;
	width: 317px;
	height: 166px;
	position: absolute;
}

.textright p {
	text-align: center;
	top: 39%;
	position: absolute;
	left: 32%;
}

.textleft p {
	text-align: center;
	bottom: 39%;
	position: absolute;
	left:21%;
}

.textleft {
	background: white;
	bottom: 31%;
	left: 2%;
	width: 317px;
	height: 166px;
	position: absolute;
}

.textleft:hover {
	background: red;
	cursor: pointer;
}

.textright:hover {
	background: red;
}

.bottom:hover {
	background: red;
	cursor: pointer;
}

.slide1 {
	position: relative;
	background: url(../images/3.jpg) 0 0 no-repeat;
	width: 100%;
	height: 100%;
}

.ongoing {
	background-color: white;
	background: url(../images/images/on.png) 0 0 no-repeat;
	position: absolute;
	top: 30%;
	opacity: 0.7;
	left: 30%;
	height: 42px;
	width: 80%;
	cursor: pointer;
}

.upcoming {
	background-color: white;
	background: url(../images/images/on.png) 0 0 no-repeat;
	position: absolute;
	top: 40%;
	opacity: 0.7;
	left: 40%;
	height: 42px;
	width: 80%;
	cursor: pointer;
}

.ongoing p {
	font-family: chaparral Pro;
	text-align: right;
	font-size: 30px;
	padding-top: 11px;
	padding-right: 8px;
	font-style: italic;
}

#menu li {
	cursor: pointer;
}

#menu a {
	cursor: pointer;
}

#menu img {
	cursor: pointer;
}

.upcoming p {
	font-family: chaparral Pro;
	text-align: right;
	font-size: 30px;
	padding-top: 11px;
	padding-right: 8px;
	font-style: italic;
}

.im {
	position: absolute;
	top: 0px;
	height: 100%;
	width: 152px;
}

.position {
	position: relative;
	top: 25px;
	width: 267px;
	height: 100%;
}

.position1 {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 45px 20px;
}

.position>img {
	position: absolute;
	height: 100%;
	width: 420px;
}

.navbar  .navbar-inner {
	background: none;
	border: none;
}

.logo>img {
	height: 84px;
}

.navbar .nav {
	
}

.navbar .container {
	height: 84px;
}

.navbar .container li {
	margin-left: 0px !important;
	background: rgba(250, 247, 247, 0.52);
}

.navbar .container li:hover {
	background-color: rgba(0, 0, 0, 0.7);
	cursor: pointer;
}

.navbar .container li a {
	color: black;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	text-align: center;
	font-weight: bold;
	margin-top: 22px !important;
	margin-bottom: 22px !important;
	border-right: 1px solid white;
}

.navbar .container li:last-child a {
	border-right: none;
}

.brand {
	float: left;
	margin: 0px;
	padding: 0px !important;
}

.collapse {
	display: inline-block;
	margin-left: 0px !important;
}

.alert h4 {
	color: black;
}

.alert-block {
	position: absolute;
	top: 60%;
	right: 10%;
	width: 480px;
	height: 152px;
	opacity: 0.8;
	opacity: 0.8;
	background-color: white;
	border: 1px solid white;
	color: black;
	overflow-y: scroll;
	overflow-x: hidden;
}

.alert-block1 {
	position: absolute;
	top: 60%;
	right: 10%;
	width: 480px;
	height: 152px;
	opacity: 0.8;
	opacity: 0.8;
	background-color: white;
	border: 1px solid white;
	color: black;
	overflow-y: scroll;
	overflow-x: hidden;
}

.contant {
	overflow-y: scroll;
	margin: 28px;
	text-align: justify;
	right: -28px;
	height: 245px;
	position: absolute;
}

.contant h2 {
	font-size: 17.5px;
	padding-right: 10px;
}

.contant p {
	padding-right: 10px;
}

.alert1 {
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

}
.closebutton {
	background-color: black;
}

#slidemenu {
	position: fixed;
	bottom: 0%;
	left: -338px;
}

::-webkit-scrollbar {
	width: 15px;
} /* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar-track {
	background-color: black;
}
/* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {
	background: white;
} /* this will style the thumb, ignoring the track */
::-webkit-scrollbar-button {
	background-color: black;
}
/* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
::-webkit-scrollbar-corner {
	background-color: black;
}

/* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
