@font-face {
	font-family: gisha;
	src: url('font/gisha.ttf');
}

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	overflow-x:hidden;
	font-family: gisha !important;
}

::-webkit-scrollbar {
	width: 12px;
}
/* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {
	background: #5cc7D1;
} /* this will style the thumb, ignoring the track */
.back {
	position: fixed;
	height: 100%;
	width: 100%;
}

.logo {
	float: right;
	margin-right: 2%;
	margin-top: 6px;
	cursor: pointer;
}

.box {
	background: url("../header/box.jpg");
	top: 3%;
	position: absolute;
	height: 112px;
	width: 100%;
	left: -12%;
}

#inp_box label {
	width: 100px;
	float: left;
	padding: 18px 0px 18px 15px;
	margin-right: -110px;
}

#msg_box label {
	width: 100px;
	float: left;
	padding: 18px 0px 18px 7px;
	margin-right: -110px;
}

.box1 {
	background: white;
	position: absolute;
	width: 100%;
	height: 112px;
	top: 3%;
	right: -93%;
}

.box1 span {
	float: left;
	padding: 35px 30px;
}

.table1 {
	position: absolute;
	top: 27%;
	left: -27%;
	cursor: pointer;
	opacity:0;
}

.table1 div {
	padding: 5px;
	width: 150px;
	height: 100px;
	text-align: center;
	left: -28%;
}

#bouncy1 img {
	position: absolute;
	top: 50%;
	left: -40%;
	width: 117px;
	z-index: 3;
}

#bouncy2 img {
	position: absolute;
	top: 38%;
	left: 33%;
	width: 143px;
	z-index: 5;
}

#bouncy3 img {
	position: absolute;
	top: 41%;
	left: -11%;
	width: 163px;
	z-index: 4;
}

#bouncy4 img {
	position: absolute;
	top: 20%;
	left: -35%;
	width: 135px;
	z-index: 1;
}

#bouncy5 img {
	position: absolute;
	top: 6%;
	left: 0%;
	width: 178px;
	z-index: 2;
}

#bouncy6 img {
	position: absolute;
	top: -5%;
	left: -24%;
	width: 127px;
}

.align h5 {
	color: #5cc7D1;
	background: white;
	width: 151px;
}

.box4 h5 {
	color: #5cc7D1;
	background: white;
	width: 151px;
	margin: 0px 10px;
}

.box1 ul {
	float: right;
	margin-right: 23%;
}

.box1 li {
	list-style: none;
	float: left;
	margin: 20px 18px;
	width: 80px;
	overflow: hidden;
	height: 64px;
	cursor: pointer;
}

#menu li span {
	padding-left: 10px;
	float: none;
	padding-bottom: 20px;
	padding: 7px;
	border-bottom: 1px solid #5CC7D1;
}

.arrow {
	cursor: pointer;
}

.box2 {
	position: absolute;
	top: 27%;
	right: -87%;
	background: url("../menulist/color.png") repeat;
	width: 725px;
	height: 400px;
	overflow-y: scroll;
	padding: 15px;
	overflow-x: hidden;
	opacity:0;
}

.box3 {
	position: absolute;
	top: 27%;
	right: -87%;
	width: 725px;
	height: 400px;
	opacity:0;
}

.box4 {
	position: absolute;
	top: 27%;
	right: -87%;
	background: url("../menulist/color.png") repeat;
	width: 725px;
	height: 400px;
	overflow-y: scroll;
	padding: 25px;
	opacity:0;
}

.i2 img {
	top: 44px;
}

.i1 img {
	top: 44px;
}

.i3 img {
	top: 44px;
}

.i4 img {
	top: 44px;
}

.i5 img {
	top: 44px;
}

.box5 {
	position: absolute;
	top: 27%;
	right: -87%;
	background: url("../menulist/color.png") repeat;
	width: 87%;
	height: 227px;
	overflow-y: scroll;
	opacity:0;
}

.box5 li {
	list-style: none;
	float: left;
}

.box5 li img {
	padding-left: 57px;
	margin-top: 48px;
}

.exit {
	top: 2%;
	position: absolute;
	left: 709px;
}

.exit2 {
	margin: 10px;
	float: right;
}

.exit3 {
	left: 709px;
}
	
	
	
.paragraph1 {
	margin: 0px 20px;
}

.paragraph1 {
	margin: 0px 20px;
}

.box6 {
	position: absolute;
	top: 27%;
	right: -87%;
	background: url("../menulist/color.png") repeat;
	width: 420px;
	height: 430px;
	overflow-y: scroll;
	padding: 15px;
	overflow-x: hidden;
	opacity:0;
}

.box6 li {
	list-style: none;
}

.box7 {
	position: absolute;
	top: 27%;
	right: -87%;
	background: url("../menulist/color.png") repeat;
	width: 502px;
	text-align: justify;
	height: 155px;
	overflow-y: hidden;
	padding: 50px;
	overflow-x: hidden;
	opacity:0;
}

.box8 {
	position: absolute;
	top: 27%;
	right: -60%;
	width: 502px;
	text-align: justify;
	height: 155px;
	overflow-y: scroll;
	padding: 50px;
	overflow-x: hidden;
	background: url("../menulist/color.png") repeat;
	opacity:0;
}

.titles1 {
	color: #514c4b;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	position: absolute;
	cursor: default;
}

#contactForm .alert {
	width: 20%;
	height: 13px;
	padding-bottom: 4px;
	padding-top: 10px;
	padding-left: 30px;
	background: none;
	border: none;
	color: red;
}

.exit1 {
	position: absolute;
	left: 418px;
	top: 3%;
}

#msg_box {
	width: 410px;
	height: 78px;
	background-image: url(../images/form_msg.png);
	background-repeat: no-repeat;
}

.input_boxes {
	width: 434px;
	padding: 10px 50px;
	display: inline-block;
}

#contactForm textarea {
	height: 75px;
	font-family: Verdana, Geneva, sans-serif;
	width: 290px;
	padding-left: 10px;
}

#contactForm textarea,#contactForm input {
	width: 209px;
	color: #514c4b;
	padding-left: 77px;
	height: 44px;
	font-size: 11px;
	background-color: transparent;
	outline: none;
}

#contactForm span {
	display: none;
	font-size: 9px;
	color: #FF0000;
	font-family: Verdana, Geneva, sans-serif;
}

#contactForm .sendmessage {
	cursor: pointer;
	float: left;
	border: 0px;
	background: url("../menulist/send.png") no-repeat;
}

.sendmessage {
	width: 123px !important;
	padding-left: 0px !important;
}
#bottom {
	width: 100%;
	height: 25px;
	background-color: #000;
	opacity: .7;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 99
}

#btm_link {
	position: absolute;
	width: auto;
	height: auto;
	right: 20px;
	top: 5px;
	font-size: 12px;
	opacity: .9;
	color: #FFF;
}
