<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<LiveZilla version="4.2.0.5">
  <clientConfiguration>
    <item key="RightToLeft">False</item>
    <item key="ONEInit">1369021220</item>
    <item key="AdvancedTextControl">True</item>
    <item key="ChatTicketSortColumn">2</item>
    <item key="ChatTicketSortDirection">1</item>
    <item key="ChatTicketsColumnVisible">True,True,True,True,True,True,True,True,True,True,True,False,False,True,True,True,False,False,True</item>
    <item key="SpellCheckerDictionaries">
    </item>
    <item key="ChatTicketsColumnNames">ColumnCustomIcon,ColumnCustomState,ColumnDate,ColumnType,ColumnTicketId,ColumnEmail,ColumnLastname,ColumnFirstname,ColumnTransactionID,ColumnCompany,ColumnPayerID,ColumnCustomNew,ColumnCustomTimestamp,ColumnPrice,ColumnVAT,ColumnCurrency,ColumnCustomPaid,ColumnCustomVoided,ColumnVisitorId</item>
    <item key="ChatTicketsColumnWidths">30,30,140,150,140,140,83,82,102,76,73,89,83,100,100,100,53,65,74</item>
    <item key="DatabaseChatTickets">chatticket.mdb</item>
    <item key="RatingsColumnWidths">85,90,130,100,100,60,60,348,100,100,100,100,100,100,100</item>
    <item key="SpellCheckerWordOptions">105</item>
    <item key="SpellCheckerCaseOptions">66</item>
    <item key="ChatsColumnWidths">22,105,70,70,75,75,75,100,100,90,100,100,120,100,100,108,108,108,108,108,108,114,108,108,108</item>
    <item key="ArchiveSearchWindowSize">1115,620</item>
    <item key="UseSpellChecker">True</item>
    <item key="ConvertURLs">True</item>
    <item key="ArchiveSearchWindowLocation">50,50</item>
    <item key="MessageCenterError">True</item>
    <item key="ArchiveViewerWindowSize">1115,620</item>
    <item key="ArchiveViewerWindowLocation">50,50</item>
    <item key="ReportWindowSize">1115,620</item>
    <item key="ReportWindowLocation">-32000,-32000</item>
    <item key="ArchiveViewerFullscreen">False</item>
    <item key="ShowMaxUsersVisitorListInfo">True</item>
    <item key="EscapeMailto">True</item>
    <item key="ArchiveSearchFullscreen">False</item>
    <item key="ReportFullscreen">False</item>
    <item key="ShowInternetExplorerPrintInfo">True</item>
    <item key="StripHtmlPasting">True</item>
    <item key="UseQuickSearch">True</item>
    <item key="ChatInputHeight">220</item>
    <item key="Rated">False</item>
    <item key="ShowSidebar">False</item>
    <item key="VisitorViewAutoSizeColumns">False</item>
    <item key="UserStatusBeforeIdle">Online</item>
    <item key="UserStatusBeforeScreen">Online</item>
    <item key="UserStatusBeforeLogOff">Online</item>
    <item key="VisitorViewColumnWidths">22,22,21,62,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120</item>
    <item key="VisitorViewColumnVisible">True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False</item>
    <item key="TicketsColumnVisible">True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False,True,False</item>
    <item key="ArchiveColumnVisible">True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False</item>
    <item key="ChatsColumnVisible">True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False</item>
    <item key="SelectVisitorOnChatSwitch">False</item>
    <item key="ShowReportInBrowser">False</item>
    <item key="CloseOnAccept">False</item>
    <item key="OrderOperatorsByGroups">True</item>
    <item key="StartupCounter">20</item>
    <item key="ShowRightPanel">True</item>
    <item key="HideDomains">False</item>
    <item key="SoundVolume">10</item>
    <item key="ShowLeftPanel">True</item>
    <item key="ShowBottomPanel">True</item>
    <item key="ArchiveColumnNames">ColumnDate,ColumnType,ColumnName,ColumnInternal,ColumnGroup,ColumnEmail,ColumnCompany,ColumnLanguage,ColumnCountry,ColumnCallback,ColumnIP,ColumnHost,ColumnDuration,ColumnSessid,ColumnTimestart,ColumnTimeend,ColumnTypeInt,ColumnId,ColumnInternalId,ColumnGroupId,ColumnAreaCode,ColumnCustom1,ColumnCustom2,ColumnCustom3,ColumnCustom4,ColumnCustom5,ColumnPhone,ColumnCustom7,ColumnCustom8,ColumnCustom9,ColumnCustom10,ColumnCustom6,ColumnCustomCallback,ColumnCustomCountry</item>
    <item key="TicketColumnNames">ColumnQualification,ColumnStatusIcon,ColumnCreated,ColumnStatusText,ColumnName,ColumnEmail,ColumnCompany,GroupName,ColumnCallback,ColumnComment,ColumnIP,ColumnServerId,ColumnCustom1,ColumnCustom2,ColumnCustom3,ColumnCustom4,ColumnCustom5,ColumnCustom6,ColumnCustom7,ColumnCustom8,ColumnCustom9,ColumnCustom10,ColumnPhone,ColumnCustomCallback</item>
    <item key="VisitorViewColumnNames">ColumnCountryFlag,ColumnChat,ColumnInvitation,ColumnOnlineTime,ColumnActivity,ColumnName,ColumnCountry,ColumnLanguage,ColumnVisits,ColumnRegion,ColumnCity,ColumnPages,ColumnSearchstring,ColumnHost,ColumnIP,ColumnEmail,ColumnCompany,ColumnAreas,ColumnSystem,ColumnTimezone,ColumnResolution,ColumnReferrer,ColumnPagesVisited,ColumnOS,ColumnTitle,ColumnVisitLast,ColumnISP,ColumnCustom1,ColumnCustom2,ColumnCustom3,ColumnCustom4,ColumnCustom5,ColumnCustom6,ColumnCustom7,ColumnCustom8,ColumnCustom9,ColumnCustom10</item>
    <item key="ChatsColumnNames">ColumnIcon,ColumnCreated,ChatId,ColumnType,ColumnDuration,ColumnStartTime,ColumnWaitingTime,ColumnStatusText,ColumnQuestion,ColumnChatsInArchive,ColumnPriority,ColumnName,Operator,ColumnEmail,ColumnCompany,ColumnCustom1,ColumnCustom2,ColumnCustom3,ColumnCustom4,ColumnCustom5,ColumnCustom6,ColumnCustom7,ColumnCustom8,ColumnCustom9,ColumnCustom0</item>
    <item key="MainFormSize">990,720</item>
    <item key="MainFormWindowLocation">81,57,1</item>
    <item key="MessageCenterNewCustomerSeconds">5</item>
    <item key="MessageCenterNewVisitorSeconds">5</item>
    <item key="MessageCenterNewTicketSeconds">5</item>
    <item key="MessageCenterNewMessageSeconds">5</item>
    <item key="MessageCenterInternalLoggedOnSeconds">5</item>
    <item key="VisitorCenterSize">825,500</item>
    <item key="ArchiveDatabases">0,0,0</item>
    <item key="FileViewerColumnWidths">0,130,90</item>
    <item key="ArchiveColumnWidths">110,56,120,120,120,120,120,120,120,100,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,50,120,120,120,120,100,100,100</item>
    <item key="TicketColumnWidths">22,22,176,170,130,130,130,130,100,130,130,130,130,130,130,130,130,130,130,130,130,130,130,100</item>
    <item key="FilterViewColumnWidths">42,140,140,170,170,110</item>
    <item key="UrlHistoryColumnWidths">40,80,65,85,280,210</item>
    <item key="SystemLogColumnWidths">24,120,520</item>
    <item key="SmileyBoxSize">185,90</item>
    <item key="CaptureDataSets">500</item>
    <item key="GeoMapType">0</item>
    <item key="GeoDefaultLat">25</item>
    <item key="GeoDefaultLong">10</item>
    <item key="GeoDefaultZoom">1</item>
    <item key="CaptureInterval">2</item>
    <item key="LeftControlWidth">220</item>
    <item key="TopControlsHeight">370</item>
    <item key="RightControlExpandedWidth">570</item>
    <item key="DemoDay">0</item>
    <item key="LinkOrderDirection">Title</item>
    <item key="EntryAmountSystemLog">100</item>
    <item key="TicketViewSortColumn">2</item>
    <item key="TicketViewSortDirection">1</item>
    <item key="RatingViewSortDirection">1</item>
    <item key="ArchiveViewSortColumn">0</item>
    <item key="RatingViewSortColumn">2</item>
    <item key="ArchiveViewSortDirection">1</item>
    <item key="VisitorViewSortColumn">3</item>
    <item key="ChatsSortColumn">2</item>
    <item key="VisitorViewSortDirection">0</item>
    <item key="ChatsSortDirection">0</item>
    <item key="WebCamRecording">True</item>
    <item key="GeoZoomUser">True</item>
    <item key="QrdSearch">False</item>
    <item key="ClickableURLs">True</item>
    <item key="GeoAutoCenter">False</item>
    <item key="UseGeoTracking">True</item>
    <item key="ShowUsersInFileViewer">True</item>
    <item key="PlaySoundExternKeepRinging">True</item>
    <item key="PlaySoundQueuedKeepRinging">True</item>
    <item key="ShowReorderInfo">True</item>
    <item key="ShowQueueWarning">True</item>
    <item key="ShowFilterHints">True</item>
    <item key="MainFormMaximized">False</item>
    <item key="VisitorCenterMaximized">False</item>
    <item key="SaveIPAndHost">True</item>
    <item key="ShowToolTipCapture">True</item>
    <item key="MyNameColor">#000000</item>
    <item key="MyDateColor">#696969</item>
    <item key="ChatPartnerNameColor">#000000</item>
    <item key="ChatPartnerDateColor">#696969</item>
    <item key="CheckForUpdates">True</item>
    <item key="AutoAwayOnScreensaver">True</item>
    <item key="CatchClose">True</item>
    <item key="PlaySoundOnNewChat">True</item>
    <item key="PlaySoundOnNewPost">True</item>
    <item key="PlaySoundOnNewVisitor">True</item>
    <item key="PlaySoundOnTicket">True</item>
    <item key="PlaySoundOnQueued">True</item>
    <item key="PlaySoundDoBeep">False</item>
    <item key="ShowConnectionIcon">True</item>
    <item key="ShowServerReactionTime">False</item>
    <item key="AutoAcceptConversations">True</item>
    <item key="AutoScroll">True</item>
    <item key="HintWorkInBackGround">True</item>
    <item key="MessageCenterNewExternChat">True</item>
    <item key="MessageCenterNewVisitor">False</item>
    <item key="MessageCenterNewTicket">True</item>
    <item key="MessageCenterNewMessage">True</item>
    <item key="MessageCenterInternalLoggedOn">True</item>
    <item key="ArchiveCustom">False</item>
    <item key="ArchiveCalendar">False</item>
    <item key="ChatFontFace">Verdana</item>
    <item key="ChatFontSize">1</item>
    <item key="CallIDD">
    </item>
    <item key="CallICP">00</item>
    <item key="PreCallProtocols">callto:</item>
    <item key="QrdFontFace">Verdana</item>
    <item key="QrdFontSize">1</item>
    <item key="OMRText">PiAlUVVPVEUl</item>
    <item key="ChatReplySignature">PiAlUVVPVEUl</item>
    <item key="ChatReplySubject">
    </item>
    <item key="OMRSubject">
    </item>
    <item key="RatingsReplySignature">PiAlUVVPVEUl</item>
    <item key="RatingsReplySubject">
    </item>
    <item key="SoundNewMessage">C:\Program Files\LiveZilla\sounds\message.wav</item>
    <item key="SoundNewExtern">C:\Program Files\LiveZilla\sounds\extern.wav</item>
    <item key="SoundNewVisitor">C:\Program Files\LiveZilla\sounds\visitor.wav</item>
    <item key="SoundNewTicket">C:\Program Files\LiveZilla\sounds\ticket.wav</item>
    <item key="SoundQueue">C:\Program Files\LiveZilla\sounds\queue.wav</item>
    <item key="AutoAwayTime">10</item>
    <item key="ArchiveCustomIndex">0</item>
    <item key="ArchiveCalendarStart">1366828200</item>
    <item key="ArchiveCalendarEnd">1366914599</item>
    <item key="Culture">
    </item>
    <item key="TranslationMode">False</item>
  </clientConfiguration>
</LiveZilla>