<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<LiveZilla version="4.2.0.5">
  <server>
    <item lastsiteselected="" httpkeepalive="True" savepassword="False" location="FTPRemote" validated="False" autologin="False" selected="True" ftpproxybypasslocal="True" ftpproxyauthentication="False" ftpproxyusername="" ftpproxypassword="" httppassword="" httpusername="" ftpproxyusage="False" ftpproxyport="3128" autologininstancenumber="1" defaultloginstatus="Online" ftpproxytype="HttpConnect" httpproxybypasslocal="True" httpproxyusage="False" httpproxyauthentication="False" httpproxyusername="" httpproxypassword="" httpusestandardproxy="True" httpproxyport="3128" httpproxytype="HttpConnect" ftppassive="False" httpuri="http://www.mmrf.in/chat/" ftphost="" ftpfolder="/livezilla" id="mmrf" ftpuser="" ftpport="21" ftpanonymous="False" />
    <item lastsiteselected="" httpkeepalive="True" localdirectory="C:\Documents and Settings\DS\Local Settings\Temp\wap6c375d" savepassword="False" location="FTPRemote" validated="True" autologin="False" selected="False" ftpproxybypasslocal="True" ftpproxyauthentication="False" ftpproxyusername="" ftpproxypassword="" httppassword="" httpusername="" ftpsecure="Unsecure" ftpproxyusage="False" ftpproxyport="3128" autologininstancenumber="1" defaultloginstatus="Online" ftpproxytype="HttpConnect" httpproxybypasslocal="True" httpproxyusage="False" httpproxyauthentication="False" httpproxyusername="" httpproxypassword="" httpusestandardproxy="True" httpproxyport="3128" httpproxytype="HttpConnect" ftppassive="False" httpuri="http://mmrf.in/chat/" ftphost="mmrf.in" ftpfolder="/chat" id="mmrf.in" ftpuser="bW1yZg==" ftpport="21" ftpanonymous="False" />
  </server>
</LiveZilla>