@charset "utf-8";
/* CSS Document */
#bg_img1 {
	border: 0;
	width: 100%;
	display: block;
	max-width: 100%;
	position: absolute;
	z-index: 5;
}

#bg_img2 {
	border: 0;
	width: 100%;
	display: block;
	max-width: 100%;
	position: absolute;
	z-index: 5;
}

#bg_img3 {
	border: 0;
	width: 100%;
	height: 100%;
	display: block;
	max-width: 100%;
	position: absolute;
	z-index: 5;
}

#bg_img4 {
	border: 0;
	width: 100%;
	display: block;
	max-width: 100%;
	position: absolute;
	z-index: 5;
}

#bg_img5 {
	border: 0;
	width: 100%;
	display: block;
	max-width: 100%;
	position: absolute;
	z-index: 5;
}

#slideshow {
	position: relative;
}

#slideshow div {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8;
	opacity: 0.0;
	width: 100%;
	height: 2000px;
}

#slideshow div.active {
	z-index: 10;
	opacity: 1.0;
}

#slideshow div.last-active {
	z-index: 9;
}