@font-face {
	font-family: gisha;
	src: url('font/gisha.ttf');
}

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: gisha !important;
	
}



::-webkit-scrollbar {
	width: 12px;
}
/* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {
	background: #5cc7D1;
	
} /* this will style the thumb, ignoring the track */







.back {
	position: fixed;
	height: 100%;
	width: 100%;
}

.logo {
	float: right;
	margin-right: 2%;
	margin-top: 6px;
	cursor: pointer;
}

.box {
	background: url("../header/box.png");
	top: 3%;
	position: absolute;
	height: 112px;
	width: 88%;
}

.box1 {
	background: white;
	position: absolute;
	width: 100%;
	height: 112px;
	top: 3%;
	right: -93%;
}

.box1 span {
	float: left;
	padding: 35px 30px;
}



.table1{
	position:absolute;
	top:27%;
	left:-27%;
}

.table1 div {
    padding:5px;
    width:150px;
    height:100px;
    text-align:center;
    left:-28%;
}


#bouncy1 img{
	position:absolute;
	top: 50%;
left: -40%;
width: 117px;
z-index: 3;
}

#bouncy2 img{
	position:absolute;
	top: 38%;
left: 33%;
width: 143px;
z-index: 5;
}
#bouncy3 img{
	position:absolute;
	top: 41%;
left: -11%;
width: 163px;
z-index: 4;
}

#bouncy4 img{
	position:absolute;
	top: 20%;
left: -35%;
width: 135px;
z-index: 1;
}
#bouncy5 img{
	position:absolute;
	top: 6%;
left: 0%;
width: 178px;
z-index: 2;
}
#bouncy6 img{
	position:absolute;
	top: -5%;
left: -24%;
width: 127px;
}


.align h5{
	color:#5cc7D1;
background: white;
width: 151px;}

.box4 h5{
	color:#5cc7D1;
background: white;
width: 151px;}




.box1 ul {
	float: right;
	margin-right: 23%;
}

.box1 li {
	list-style: none;
	float: left;
	margin: 20px 18px;
	width: 80px;
	overflow: hidden;
	height: 75px;
	cursor: pointer;
}
#menu li span{
	padding-left: 10px;
}
.arrow {
	cursor: pointer;
}


.box2{
	position: absolute;
top: 27%;
right: -87%;
background: url("../menulist/color.png")repeat;
width: 725px;
height: 342px;
overflow-y: scroll;
padding:15px;
overflow-x:hidden;

}

.box3{
	position: absolute;
top: 27%;
right: -87%;

width: 725px;
height: 342px;

}

.box4{
	position: absolute;
top: 27%;
right: -87%;
background: url("../menulist/color.png")repeat;
width:725px;
height: 342px;
overflow-y: scroll;
padding:15px;
}
	
	

	
	
/*.i1 img{
	position: absolute;
top: 34%;
left: 42%;
width: 209px;
rotate: 120;
-moz-transform: rotate(-20deg);
-webkit-transform: rotate(34deg);
}

.i2 img{
	position: absolute;
top: 50%;
left: 55%;
width: 209px;
rotate: 120;
-moz-transform: rotate(-20deg);
-webkit-transform: rotate(-20deg);
}
	
	.i3 img{
	position: absolute;
top: 65%;
left: 41%;
width: 209px;
rotate: 120;
-moz-transform: rotate(-20deg);
-webkit-transform: rotate(-42deg);
}
	
	.i4 img{
	position:absolute;
	top: 78%;
left: 45%;
width: 261px;
rotate: 120;
-moz-transform: rotate(-20deg);
-webkit-transform: rotate(17deg);
}

	
	.i5 img{
	position: absolute;
top: 80%;
left: 49%;
width: 209px;
rotate: 120;
-moz-transform: rotate(-20deg);
-webkit-transform: rotate(-20deg);
}*/
	
.exit{
	top: 2%;
position: absolute;
left:695px;
}

.paragraph1{
	margin:0px 20px;
	
}

.box4 h5{margin:0px 10px;}

.box6{
	position: absolute;
top: 27%;
right: -87%;
background: url("../menulist/color.png")repeat;
width:725px;
height: 342px;
overflow-y: scroll;
padding:15px;
}


.box6 li{
	list-style:none;
}



.titles1{
	color: #514c4b;
font-size: 11px;
font-family: Arial, Helvetica, sans-serif;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
-o-user-select: none;
position: absolute;
cursor: default;
}

#contactForm .alert {
width:20%;
height: 13px;
padding-bottom: 4px;
padding-top: 10px;
padding-left: 30px;
background:none;
border:none;
color:red;
}


#msg_box {
width: 303px;
height: 78px;
background-image: url(../images/form_msg.png);
background-repeat: no-repeat;


}
#contactForm textarea {
height: 75px;
font-family: Verdana, Geneva, sans-serif;
width: 290px;
padding-left: 10px;
}

#contactForm textarea, #contactForm input {
width: 209px;
color: #514c4b;

padding-left: 77px;
height: 44px;
font-size: 11px;
background-color: transparent;
outline: none;
}

#contactForm span {
display: none;
font-size: 9px;
color: #FF0000;
font-family: Verdana, Geneva, sans-serif;
}

#contactForm .sendmessage {
cursor: pointer;
float: left;


border: 0px;
background:url("../menulist/send.png")no-repeat;
}

.sendmessage {
	width:123px !important;
	padding-left:0px !important;
}