@font-face {
	font-family: gisha;
	src: url('font/gisha.ttf');
}

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: gisha !important;
}

.back {
	position: fixed;
	height: 100%;
	width: 100%;
}

.logo {
	float: right;
	margin-right: 2%;
	margin-top: 6px;
	cursor: pointer;
}

.box {
	background: url("../header/box.png");
	top: 3%;
	position: absolute;
	height: 112px;
	width: 88%;
}

.box1 {
	background: white;
	position: absolute;
	width: 100%;
	height: 112px;
	top: 3%;
	right: -93%;
}

.box1 span {
	float: left;
	padding: 35px 30px;
}



.leftalign td{
	padding:5px;
    width:150px;
    height:100px;
    text-align:center;
    position:absolute;
}



.box1 ul {
	float: right;
	margin-right: 23%;
}

.box1 li {
	list-style: none;
	float: left;
	margin: 20px 18px;
	width: 80px;
	overflow: hidden;
	height: 75px;
	cursor: pointer;
}
#menu li span{
	padding-left: 10px;
}
.arrow {
	cursor: pointer;
}


.box2{
	position: absolute;
top: 27%;
right: -87%;
background: url("../menulist/color.png")repeat;
width: 620px;
height: 342px;
overflow-y: scroll;
}

.box3{
	position: absolute;
top: 27%;
right: -87%;

width: 620px;
height: 342px;

}

.box4{
	position: absolute;
top: 27%;
right: -87%;
background: url("../menulist/color.png")repeat;
width: 620px;
height: 342px;
overflow-y: scroll;
}
	
.exit{
	top: 4%;
position: absolute;
left: 550px;
}

.align li{list-style-image:url("../menulist/bullet.png")no-repeat;}



